@charset "UTF-8";

* {
    
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    
}

body {
    height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}
header > h1 {
    padding-bottom: 10px;
    font-size: 3em
}


#img0 {
    background-image: url(imagens/background001.jpg);
    color: white;
    
    
}


